* {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: gray;
    color: #000000;
    text-align: justify;
}
h1 {
    font-style: oblique;
    text-align: center;
}
h2 {
    text-align: center;
}
